#content {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    background: #00569f;
    padding: 20px;
}

nav {
    width: 200px;
    float: left;
}

#content {
    margin-left: 220px;
}

.resort {
    color: #3399CC;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    background: url(marker.gif) no-repeat left center;
    padding-left: 30px;
}

body {
    background: url(ptrbackground.jpg) repeat-x top;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    font-size: 1.2em;
}

nav a:visited,
nav a:link {
    color: #344873;
    text-decoration: none;
}

nav a:hover {
    color: #FFFFFF;
}

footer {
    font-family: Georgia, "Times New Roman", serif;
    clear: both;
}
